@CHARSET "UTF-8";

textarea {
		min-height: 60px;
		width: 99%;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
}
    
div.comments {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #ddd;
	padding: 10px;
	padding-bottom: 0px;
	margin-bottom: 5px;
}

div.comments:hover {
	background-color: #eeeeee;
}

div.users {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #ddd;
	padding: 10px;
	padding-bottom: 0px;
	margin-bottom: 5px;
}

div.users:hover {
	background-color: #eeeeee;
	cursor: pointer;
}



.align-left {
	float: left;
}
.align-right {
	float: right;
}

.clear-align {
	clear: both;
}

hr {
	margin-bottom: 5px;
}

div.footer { 
		position: fixed;
		width: 100%;
		background-color: #eeeeee;
		bottom: 0; 
		left: 0; 
		height: 20px; 
}

a.footer img.footer {
	width: 20px; 
	height: 20px; 
	padding: 50px 5px 5px 5 px;
	margin: 5px 5px 5px 5 px;
}